<h1>Contact with me</h1>

<form action="/contacts" method="post">
  <p>
    <label>Email address</label><br />
    <input type="email" name="contact[email]" placeholder="Enter email">
  </p> 
  
  <p>
    <label>Password</label><br />
    <textarea type="text" name="contact[message]" placeholder="Enter message"></textarea>
  </p>
  
  <p>
    <button type="submit">Send</button>
  </p>
</form>